// Responsive
desktop-base-width     = 1080px
rupture.desktop-cutoff = $tablet = 1080px
rupture.mobile-cutoff  = $mobile = 710px

// Images path
$img($image)
    url('../img/layout/' + $image)

// Colors
$cinza     = #6B7072
$azul      = #355772
$azulclaro = #CFD9E1

// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic')
lato($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Lato', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == thin
        font-weight 100
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700
    if $weight == black
        font-weight 900

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic')
roboto($size)
    font-size $size + 0px
    font-family 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif
    font-weight 300
    font-style italic