body
    background #DBE2E8

header
    background $azul
    width 100%
    height 180px
    position relative
    &:after
        content ""
        position absolute
        bottom 15px
        left 0
        width 100%
        height 1px
        background #fff
    .center
        clearfix()
        height 165px
    h1
        margin 0
        display block
        width 209px
        height 100%
        float left
        +tablet()
            width 200px
        +mobile()
            width 165px
        a
            display block
            width 100%
            height 100%
            background $img('logo-novo-branco.png') no-repeat center
            background-size 100% auto
            text-indent -9999px
    nav
        float right
        text-align right
        margin-top 18px
        +below($tablet)
            margin-top 16px
        a
            display block
            color #fff
            line-height 1.75
            text-decoration none
            lato 15 light italic
            +below($tablet)
                font-size 16px
                line-height 1.65

.home header
    display none
    +mobile()
        display block

.main
    position relative
    padding-bottom 80px
    +below($tablet)
        padding-bottom 5%
    h2
        position absolute
        color #fff
        z-index -1
        margin 0
        roboto 250
        top -15px
        left 0
        cursor default
        +tablet()
            font-size 195px
        +mobile()
            font-size 80px
            position relative
            top 0
            margin-bottom 2.5%
    &.not-found
        padding 20vh 0 30vh
        text-align center
        h1
            display inline-block
            lato 14 light italic
            color $azul
            text-transform uppercase
            border 1px solid $azul
            padding 15px 24px
            border-radius 25px
        +below($mobile)
            padding 10vh 0 20vh
    .center
        +mobile()
            padding-top 4% !important

footer
    background #fff
    padding 70px 0
    text-align center
    +below($tablet)
        padding 40px 0
    .social
        font-size 0
        margin-bottom 60px
        +below($tablet)
            margin-bottom 30px
        a
            display inline-block
            text-indent -9999px
            width 50px
            height 50px
            margin 0 5px
            transition background .3s
            +below($tablet)
                width 40px
                height 40px
                background-size 40px 40px !important
            &.facebook
                background $img('facebook1.png') no-repeat center
                &:hover
                    background-image $img('facebook2.png')
            &.pinterest
                background $img('pinterest1.png') no-repeat center
                &:hover
                    background-image $img('pinterest2.png')
            &.rss
                background $img('feed1.png') no-repeat center
                &:hover
                    background-image $img('feed2.png')
            &.instagram
                background $img('instagram1.png') no-repeat center
                &:hover
                    background-image $img('instagram2.png')
    .telefones
        color $cinza
        padding 0 0 15px
        margin 0
        lato 20 light italic
        +below($tablet)
            font-size 18px
        span
            &:before
                content "|"
                margin 0 10px
                opacity .5
            &:first-child:before
                content ""
            +mobile()
                display block
                &:before
                    content ""
                    margin 0
    .email
        display block
        color $cinza
        lato 15 normal italic
        text-decoration none
        transition color .3s
        &:hover
            color $azul
        +mobile()
            font-size 14px

.copyright
    background $azul
    padding 20px 0
    clearfix()
    p
        margin 0
        padding 0
        float left
        lato 12 light
        color #fff
        opacity .6
        cursor default
        &:last-child
            float right
            opacity 1
            color rgba(#fff, .6)
        a
            color #fff
            opacity .6
            transition opacity .3s
            text-decoration none
            &:hover
                opacity 1
        +mobile()
            text-align center
            display block
            float none !important
            &:first-child
                margin-bottom 8px

.home footer
    background $azulclaro
