.clipping
    .center
        padding-top 263px
        +tablet()
            padding-top 203px
        .clipping-list
            clearfix()
            a
                display block
                width 18.055%
                margin-right 2.4305%
                margin-bottom 2.4305%
                float left
                &:nth-child(5n)
                    margin-right 0
                img
                    display block
                    width 100%
                    height auto
                +tablet()
                    width 23.1771%
                    &:nth-child(5n)
                        margin-right 2.4305%
                    &:nth-child(4n)
                        margin-right 0
                +mobile()
                    width 31.713%
                    &:nth-child(5n)
                        margin-right 2.4305%
                    &:nth-child(3n)
                        margin-right 0
        .clipping-show
            text-align center
            h3
                width 85%
                lato 25 normal italic
                color $azul
                margin -16px auto 25px
                text-align center
                +tablet()
                    width 80%
                +mobile()
                    width 100%
                    font-size 18px
                    margin-top 4%
            img
                display block
                margin 0 auto 20px
                +below($tablet)
                    max-width 100%
                    height auto
                    margin-bottom 5%
            a
                display inline-block
                border 1px solid $azul
                color $azul
                padding 12px 28px
                margin-top 20px
                lato 22 light italic
                text-decoration none
                border-radius 28px
                transition background .3s, color .3s
                &:hover
                    background $azul
                    color #fff
                +mobile()
                    margin 7.5% 0
                    font-size 18px