.contato
    padding-bottom 0
    .center
        padding-top 295px
        +tablet()
            padding-top 205px
        .contato-inner
            width 540px
            margin 0 auto
            text-align center
            +tablet()
                width 80%
            +mobile()
                width 100%
            .telefones
                color $azul
                padding 0 0 20px
                margin 0
                lato 24 light italic
                +tablet()
                    font-size 22px
                +mobile()
                    font-size 20px
                span
                    &:before
                        content "|"
                        margin 0 10px
                        opacity .5
                    &:first-child:before
                        content ""
                    +mobile()
                        display block
                        &:before
                            content ""
                            margin 0
            .email
                display block
                color $cinza
                lato 16 normal italic
                text-decoration none
                transition color .3s
                margin-bottom 45px
                &:hover
                    color $azul
                +mobile()
                    font-size 15px
            form
                width 100%
                ::-webkit-input-placeholder
                   color rgba($azul, .7)
                :-moz-placeholder
                   color rgba($azul, .7)
                ::-moz-placeholder
                   color rgba($azul, .7)
                :-ms-input-placeholder
                   color: rgba($azul, .7)
                input
                textarea
                    width 100%
                    border 1px solid $azul
                    lato 19 light italic
                    padding 10px 20px
                    margin-bottom 10px
                    border-radius 20px
                    background transparent
                    outline 0
                    color $azul
                    +mobile()
                        font-size 16px
                        padding 8px 16px
                textarea
                    height 180px
                    resize none
                input[type='submit']
                    display inline-block
                    width auto
                    font-size 28px
                    border-radius 28px
                    padding 8px 28px
                    color $azul
                    transition background .3s, color .3s
                    &:hover
                        color #fff
                        background $azul
                    +mobile()
                        font-size 20px
                #form-contato-response
                    display none
                    cursor default
                    margin-bottom 15px
                    color $azul
                    lato 16 normal italic
                    background $azul
                    color #fff
                    padding 10px 24px
                    border-radius 16px
            .endereco
                color $cinza
                lato 19 light italic
                margin 45px 0
                +mobile()
                    font-size 17px
                p
                    margin 0
                    line-height 1.5
                +mobile()
                    margin 10% 0
    .googlemaps
        width 100%
        height 340px
        +tablet()
            height 300px
        +mobile()
            height 200px
        iframe
            display block
            width 100%
            height 100%