.dicas .center
    padding-top 285px
    +tablet()
        padding-top 215px
    .dicas-list
        a
            display block
            width 100%
            margin-bottom 75px
            text-decoration none
            &:last-child
                margin-bottom 0
            clearfix()
            +tablet()
                margin-bottom 55px
            +mobile()
                margin-bottom 12.5%
            .texto
                width 55%
                float left
                h3
                    lato 25 normal italic
                    color $azul
                    margin 0
                    +tablet()
                        font-size 22px
                    +mobile()
                        font-size 19px
                p
                    lato 19 light
                    color $cinza
                    line-height 1.7
                    +tablet()
                        font-size 18px
                        margin-top 10px
                    +mobile()
                        font-size 17px
                        margin-top 7px
                span
                    display block
                    text-align center
                    border 1px solid #fff
                    border-radius 20px
                    padding 4px
                    lato 20 light italic
                    color $azul
                    transition background .3s
                    +below($tablet)
                        background #fff
                +mobile()
                    width 100%
                    float none
            &:hover span
                background #fff
            .imagem
                width 37.037%
                float right
                +mobile()
                    width 100%
                    float none
                    margin-bottom 5%
                img
                    display block
                    max-width 100%
                    height auto
    .dicas-show
        width 740px
        margin 0 auto
        +tablet()
            width 95%
        +mobile()
            width 100%
        h3
            lato 25 normal italic
            color $azul
            margin 0
            +mobile()
                font-size 18px
                margin-bottom 0
        img
            display block
            height auto
            margin 30px 0
            max-width 100%
            +below($tablet)
                margin 5% 0
        .texto
            width 580px
            margin 0 auto
            lato 19 light
            color $cinza
            line-height 1.7
            +tablet()
                width 80%
                margin 40px auto
            +mobile()
                width 100%
                font-size 17px
                margin 5% 0
            a
                display block
                text-align center
                border 1px solid #fff
                border-radius 20px
                padding 4px
                line-height 1
                text-decoration none
                lato 20 light italic
                color $azul
                transition background .3s
                margin-top 35px
                &:hover
                    background #fff
                +mobile()
                    margin 7.5% 0
                    font-size 18px