.banner-home
    height 770px
    position relative
    +mobile()
        height 220px
    .banner-fotos
        position absolute !important
        top 0
        left 0
        width 100%
        height 100%
        .banner-fotos-wrapper
            position absolute
            overflow hidden
            width 50%
            height 50%
            &.banner-fotos-wrapper-1
                top 0
                left 0
            &.banner-fotos-wrapper-2
                top 0
                right 0
            &.banner-fotos-wrapper-3
                bottom 0
                left 0
            &.banner-fotos-wrapper-4
                bottom 0
                right 0
        .banner-fotos
            background-size cover !important
            position relative
            width 100%
            height 100%
            transition transform .5s
            &:hover
                transform scale(1.2,1.2) rotate(-2deg)
            &.banner-fotos-1
                background $img('home1.jpg') no-repeat center
            &.banner-fotos-2
                background $img('home2.jpg') no-repeat center
            &.banner-fotos-3
                background $img('home3.jpg') no-repeat center
            &.banner-fotos-4
                background $img('home4.jpg') no-repeat center
    .overlay
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        background-image linear-gradient(180deg, rgba($cinza,.5) 0%, rgba($cinza,.5) 20%, rgba($cinza,.2) 100%)
        z-index 101
        pointer-events none
    .center
        position relative
        z-index 102
        height 100%
        display table
        pointer-events none
        +mobile()
            display none
        .logo
            display table-cell
            vertical-align middle
            text-align center
            h1
                display inline-block
                width 405px
                height 270px
                background $img('logo-novo-rosa.png') no-repeat center #5B5150
                position relative
                text-indent -9999px
                &:after
                    content ""
                    position absolute
                    top 12px
                    bottom 12px
                    left 12px
                    right 12px
                    border 1px solid #FEBDA9
        nav
            position absolute
            top 25px
            right 0
            pointer-events auto
            +tablet()
                width 45%
                right -3.5%
                text-align right
                font-size 0
            a
                display inline-block
                float right
                clear right
                lato 30 thin italic
                color #fff
                text-decoration none
                border 1px solid transparent
                padding 7px 30px
                border-radius 30px
                transition border .3s
                &:hover
                    border 1px solid #fff
                +tablet()
                    clear none
                    float none
                    lato 24 thin italic
                    padding 7px 20px
                    border-radius 24px
