.perfil
    padding-bottom 0
.perfil .center
    padding-top 120px
    .texto
        width 540px
        margin 0 auto
        color $cinza
        lato 19 light
        +tablet()
            width 80%
        +mobile()
            width 100%
            font-size 17px
        p
            margin 1.8em 0
            line-height 1.7
            &:first-child
                margin-top 0
        h3
            lato 48 light italic
            line-height 1.2
            color $azul
            margin .7em 0 .9em
            +tablet()
                font-size 42px
            +mobile()
                font-size 28px
    img
        display block
        margin 50px auto 0
        max-width 100%
        height auto
        +below($tablet)
            margin-top 7%