.projetos
    .center
        padding-top 263px
        +tablet()
            padding-top 203px
        .projetos-categorias
            position absolute
            right 0
            top 120px
            +tablet()
                top 90px
            +mobile()
                position relative
                top 0
                margin-bottom 7.5%
                margin-top -5px
                text-align right
            a
                display inline-block
                vertical-align bottom
                roboto 20
                color $azul
                line-height 1.3
                text-decoration none
                text-align center
                margin-left 45px
                opacity .8
                padding-bottom 4px
                border-bottom 1px solid transparent
                transition opacity .3s, border .3s
                &:hover
                &.active
                    opacity 1
                    border-bottom 1px solid rgba($azul, .8)
                +tablet()
                    margin-left 30px
                +mobile()
                    margin-left 14px
                    font-size 17px
                    padding-bottom 3px
        .projetos-list
            clearfix()
            font-size 0
            a
                display inline-block
                vertical-align top
                width 31.944%
                margin-right 2.083%
                margin-bottom 4%
                text-decoration none
                &:nth-child(3n)
                    margin-right 0
                +mobile()
                    width 48.9585%
                    margin-bottom 5%
                    &:nth-child(3n)
                        margin-right 2.083%
                    &:nth-child(2n)
                        margin-right 0
                img
                    display block
                    width 100%
                    height auto
                span
                    display block
                    lato 18 light italic
                    color rgba($cinza, .8)
                    margin-top 10px
                    transition color .3s
                    +mobile()
                        font-size 17px
                        color $cinza
                        margin-top 5px
                &:hover span
                    color darken(#12538B, 5)
        .projetos-show
            text-align center
            h3
                lato 25 normal italic
                color $azul
                margin 0 0 15px
                text-align center
                +mobile()
                    font-size 18px
                    margin-bottom .8em
            img
                display block
                margin 0 auto 20px
                +below($tablet)
                    max-width 100%
                    height auto
                    margin-bottom 5%
            .texto
                width 540px
                margin 50px auto
                color $cinza
                lato 19 light
                +tablet()
                    width 80%
                    margin 40px auto
                +mobile()
                    width 100%
                    font-size 17px
                    margin 7.5% 0
                p
                    margin 15px 0
                    line-height 1.7
                    &:first-child
                        margin-top 0
                    +below($tablet)
                        margin .4em 0
            a
                display inline-block
                border 1px solid $azul
                color $azul
                padding 12px 28px
                margin-top 20px
                lato 22 light italic
                text-decoration none
                border-radius 28px
                transition background .3s, color .3s
                &:hover
                    background $azul
                    color #fff
                +mobile()
                    margin 7.5% 0
                    font-size 18px